attrs==19.1.0
aws-cdk.aws-amazonmq==0.33.0
aws-cdk.cdk==0.33.0
aws-cdk.cx-api==0.33.0
cattrs==0.9.0
certifi==2019.6.16
cycler==0.10.0
importlib-resources==1.0.2
jsii==0.11.0
kiwisolver==1.1.0
matplotlib==3.1.1
mkl-fft==1.0.12
mkl-random==1.0.2
mypy-extensions==0.4.1
numpy==1.16.4
pandas==0.24.2
publication==0.0.3
py4j==0.10.7
pyparsing==2.4.0
pyspark==2.4.3
python-dateutil==2.8.0
pytz==2019.1
six==1.12.0
typing-extensions==3.7.2
